/* COLOR PALLETE OF THE WEBSITE */
:root {
  --dd-cyan-blue: #22272f;
  --d-cyan-blue: #2f3541;
  --light-cyan-blue: #5e81ac;
  --light-indigo: #dee2e6;
}
/* RESET AND GENERAL STYLES */

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Sora";
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  line-height: 1.5;
  background-color: var(--dd-cyan-blue);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

.navbar {
  background-color: var(--dd-cyan-blue);
}
.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
}

/* flex box */
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
li,
.logo {
  color: var(--light-indigo);
  font-size: 20px;
}
.logo {
  font-size: 30px;
}
a {
  text-decoration: none;
  color: var(--light-indigo);
}
nav {
  width: 40%;
}
ul {
  list-style: none;
}
ul a:hover {
  border-bottom: 2px solid var(--light-indigo);
}
p {
  color: var(--light-cyan-blue);
  font-size: 30px;
}
span {
  color: var(--light-indigo);
}
.hero .container {
  width: 70%;
  height: 50%;
}
.hero {
  height: 70%;
  margin: 100px auto 0 auto;
}
.show-case {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}
.sc-item {
  background-color: var(--light-cyan-blue);
  border-radius: 15px;
  width: 25%;
  height: 80px;
  margin: 10px;
  margin-top: 20px;
}
.sc-item .container {
  background-color: var(--d-cyan-blue);
  width: 98%;
  margin-right: 0;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.sc-item p {
  font-size: 40px;
}
.sc-header {
  width: 70%;
  margin: 0 auto;
  margin-top: 150px;
  font-size: 30px;
}
.sm-item {
  width: 40px;
  height: 40px;
}
.get-in-touch .container {
  background-color: var(--d-cyan-blue);
  width: 15%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.button {
  display: inline-block;
  margin-right: 20px;
  margin-top: 30px;
  background-color: var(--light-cyan-blue);
  padding: 15px 20px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  border: 3px solid var(--light-cyan-blue);
}
.button a {
  color: var(--light-indigo);
}
.empty {
  border: 3px solid var(--light-indigo);
  background-color: var(--light-indigo);
}
.empty a {
  color: var(--dd-cyan-blue);
}
.button:hover {
  background-color: var(--light-indigo);
  border-color: var(--light-indigo);
}

.button:hover a {
  color: var(--dd-cyan-blue);
}
.empty:hover {
  background-color: var(--light-cyan-blue);
  border-color: var(--light-cyan-blue);
}

.empty:hover a {
  color: var(--light-indigo);
}

.page-container {
  width: 70%;
  margin: 10px auto;
}
.page-container .container {
  width: 100%;
  margin-top: 30px;
}
.card {
  background-color: var(--d-cyan-blue);
  padding: 15px;
  margin: 20px auto;
  border-radius: 15px;
  border-bottom: var(--light-cyan-blue) 10px solid;
  width: 100%;
}
.title {
  padding-left: 15px;
}
.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.card .logo {
  display: inline-block;
  background-color: #3a3f49b4;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 3px;
}
.topic {
  color: var(--light-indigo);
}
.card-header {
  margin-bottom: 15px;
}
.social {
  width: 30%;
  margin: 150px auto;
}
.social-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  padding: 3px;
  margin: 5px;
  background-color: var(--d-cyan-blue);
}
.social .logo {
  width: 50px;
  height: 50px;
}
.show-case p {
  font-size: 25px;
}
